body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(201, 194, 194);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 32, 32);
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(71, 63, 63);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(65, 58, 58);
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

button:hover{
    background-color: rgb(101, 81, 81);
}

button:active{
    background-color: rgb(182, 178, 178);
}

.operator-btn{
    background-color: rgb(241, 161, 13);
}


.operator-btn:hover{
    background-color: rgb(241, 179, 64);
}

.operator-btn:active{
    background-color: rgb(237, 203, 141);
}
